.Logo a, .Logo a:hover {
    display: inline-block;
    font-family: 'Alfa Slab One', cursive;
    font-size: 32px;
    line-height: 32px;
    color: white;
    text-decoration: none;
    transform-origin: center;
    transition: .05s ease-in;
}

.Logo a:hover {
    transform: scale(1.1) rotate(2deg);
}

.Logo-subtext {
    color: white;
    font-size: 14px;
    line-height: 14px;
}