.App-header {
    border-bottom: 1px solid lightgray;
    padding: 0 0 8px 0;
    background-color: white;
}

.App-header-logo-container {
    padding: 12px 0 0 0;
}

.App-header-search-container {
    padding: 12px 0 0 0;
}

.App-header-user-panel-container {
    padding: 12px 0 0 0;
}

.App-outlet-container {
    padding: 10px 0 10px 0;
}