@use 'base';

.App-header, .App-main {
    font-family: 'Mulish', sans-serif;
}

.App-header {
    padding: 0;
    background-color: base.$primary-color;
}

.App-header-logo-container {
    padding: 12px 0 0 0;
}

.App-header-search-container {
    padding: 12px 0 0 0;
}

.App-header-toolbar-container {
    padding: 12px 0 0 0;
}

.App-header-user-panel-container {
    padding: 12px 0 0 0;
}

.App-outlet-container {
    background-color: #ffffff;
    padding: 25px;
}

.App-header-categories {
    margin-top: 10px;
    background-color: base.$secondary-color;
}